  {{!-- Explore all articles --}}
  <div class="row">
    <div class="col">
      <div class="card-columns">
        <div class="card shadow">
          <img class="card-img-top" src="/images/explore/yoyo-532x320.jpg" alt="Lightweight city stroller">
          <div class="card-body">
            <h5 class="card-title"><a href="/explore/city-stroller" class="stretched-link text-decoration-none text-body">Mobility: city stroller and car seat</a></h5>
            <p class="card-text">Nowadays market offers solution for almost every requirement and pocket. In the list you`ll see YoYo items, but please free to check other brands like Bugaboo Bee 5, UPPAbaby VISTA or affordable Mountain Buggy Nano Stroller.</p>
          </div>
        </div>
        <div class="card shadow">
          <img class="card-img-top" src="/images/explore/baby-feeding-2-532x160.jpg" alt="Baby feeding">
          <div class="card-body">
            <h5 class="card-title"><a href="/explore/baby-feeding" class="stretched-link text-decoration-none text-body">Baby feeding</a></h5>
            <p class="card-text">Here you can find a quick overview of key products and items you might want to add to your shopping list to ensure that breastfeeding or formula feeding arranged the best possible way for you and your baby.</p>
          </div>
        </div>
        <div class="card shadow">
          <img class="card-img-top" src="/images/explore/baby-room-532x360.jpg" alt="Baby room">
          <div class="card-body">
            <h5 class="card-title"><a href="/explore/baby-room" class="stretched-link text-decoration-none text-body">Baby Room essentials</a></h5>
            <p class="card-text">It`s nice to have your baby room functional, practical and charming. You can do it with just a few basics. And a lot of extra nice-to-haves :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>