{{!-- Explore three articles - mini section --}}
<div class="card shadow mb-3">
  <img class="card-img-top" src="/images/explore/yoyo-532x320.jpg" alt="Lightweight city stroller">
  <div class="card-body">
    <h5 class="card-title"><a href="/explore/city-stroller" class="stretched-link text-decoration-none text-body">Mobility: city stroller and car seat</a></h5>
    {{!-- <p class="card-text">Must-have for Amsterdammers and people living in small appartment without the lift.</p> --}}
  </div>
</div>
<div class="card shadow mb-3">
  <img class="card-img-top" src="/images/explore/baby-feeding-2-532x160.jpg" alt="Baby feeding">
  <div class="card-body">
    <h5 class="card-title"><a href="/explore/baby-feeding" class="stretched-link text-decoration-none text-body">Baby feeding</a></h5>
    {{!-- <p class="card-text">All you need for feeding your newborn.</p> --}}
  </div>
</div>
<div class="card shadow mb-3">
  <img class="card-img-top" src="/images/explore/baby-room-532x360.jpg" alt="Baby room">
  <div class="card-body">
    <h5 class="card-title"><a href="/explore/baby-room" class="stretched-link text-decoration-none text-body">Baby Room essentials</a></h5>
    {{!-- <p class="card-text">Top 10 baby nursery essentials</p> --}}
  </div>
</div>


