{{!-- Hero --}}
<section class="jumbotron jumbotron-fluid pb-1 myHeader" style="background-image: linear-gradient(to top, rgb(253, 203, 110, 0.8), rgba(253, 203, 110, 0)50%), url(/images/hero.jpg);" >
  <div class="container">
    <h1 class="display-3 text-light font-weight-bold myHeaderTitle">Make shopping lists <br> <span class="myColor-GreenDarnerTail">for your baby</span></h1>
    <h2 class="text-light">Free tool to make your life a little bit easier</h2>
    <p class="text-center display-4 py-1"><a href="#sectionOne"><i class="fas fa-arrow-circle-down text-light"></i></a></p>
  </div>
</section>

{{!-- Section One --}}
<section class="container py-5" id="sectionOne">
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="text-center"><i class="fas fa-list-alt display-3 mb-4 myColor-GreenDarnerTail"></i></div>
      <div><p class="font-weight-bold h4 text-center">Make or find shopping lists</p></div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="text-center"><i class="fas fa-share-square display-3 mb-4 myColor-GreenDarnerTail"></i></div>
      <div><p class="font-weight-bold h4 text-center">Share with your partner and friends</p></div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="text-center"><i class="fas fa-share-square display-3 mb-4 myColor-GreenDarnerTail"></i></div>
      <div><p class="font-weight-bold h4 text-center">Check off items you've got</p></div>
    </div>
  </div>
</section>

{{!-- Section Explore --}}
<section class="container">
  <hr>
  <div class="row">
    <div class="col text-center">
      <h1 class="myColor-BrightYarrow">Explore</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <div class="card-columns">
        <div class="card shadow">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer">
              <small>
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img" src="..." alt="Card image">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Lightweight city stroller and accessories</h5>
          <p class="card-text">Must-have for Amsterdammers and people living in small appartment without the lift.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

