{{!-- Hero --}}
<section class="jumbotron jumbotron-fluid pb-1 myHeader" style="background-image: linear-gradient(to top, rgb(253, 203, 110, 0.8), rgba(253, 203, 110, 0)50%), url(/images/hero.jpg);" >
  <div class="container">
    <h1 class="display-3 text-light font-weight-bold myHeaderTitle">Make shopping lists <br> <span class="myColor-GreenDarnerTail">for your baby</span></h1>
    <h2 class="text-light">Free tool to make your life a little bit easier</h2>
    <p class="text-center display-4 py-1"><a href="#sectionOne"><i class="fas fa-arrow-circle-down text-light"></i></a></p>
  </div>
</section>

{{!-- Section One --}}
<section class="container py-5" id="sectionOne">
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="text-center"><i class="fas fa-list-alt display-3 mb-4 myColor-GreenDarnerTail"></i></div>
      <div><p class="font-weight-bold h4 text-center">Make or find shopping lists</p></div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="text-center"><i class="fas fa-share-square display-3 mb-4 myColor-GreenDarnerTail"></i></div>
      <div><p class="font-weight-bold h4 text-center">Share with your partner and friends</p></div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="text-center"><i class="fas fa-share-square display-3 mb-4 myColor-GreenDarnerTail"></i></div>
      <div><p class="font-weight-bold h4 text-center">Check off items you've got</p></div>
    </div>
  </div>
</section>

{{!-- Section Explore --}}
<section class="container">
  <hr>
  <div class="row">
    <div class="col text-center pb-4">
      <h1 class="myColor-BrightYarrow">Explore</h1>
    </div>
  </div>
  {{> explore}}
</section>