{{!-- Hero --}}
<section class="jumbotron jumbotron-fluid pb-1 myHeader" style="background-image: linear-gradient(to top, rgb(253, 203, 110, 0.8), rgba(253, 203, 110, 0)50%), url(/images/hero.jpg);" >
  <div class="container">
    <h1 class="display-4 text-light">Fluid jumbotron</h1>
    <p class="lead text-light">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <p class="text-center display-4 py-1"><a href="#sectionOne"><i class="fas fa-arrow-circle-down text-light"></i></a></p>
  </div>
</section>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

