{{!-- Hero --}}
<section class="jumbotron jumbotron-fluid pb-1 myHeader" style="background-image: linear-gradient(to top, rgb(253, 203, 110, 0.8), rgba(253, 203, 110, 0)50%), url(/images/hero.jpg);" >
  <div class="container">
    <h1 class="display-3 text-light font-weight-bold myHeaderTitle">Make shopping lists <br> <span class="myColor-GreenDarnerTail">for your baby</span></h1>
    <h2 class="text-light">Free tool to make your life a little bit easier</h2>
    <p class="text-center display-4 py-1"><a href="#sectionOne"><i class="fas fa-arrow-circle-down text-light"></i></a></p>
  </div>
</section>

{{!-- Section One --}}
<section class="container py-5" id="sectionOne">
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="text-center"><i class="fas fa-list-alt display-3 mb-4 myColor-GreenDarnerTail"></i></div>
      <div><p class="font-weight-bold h4 text-center">Make or find shopping lists</p></div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="text-center"><i class="fas fa-share-square display-3 mb-4 myColor-GreenDarnerTail"></i></div>
      <div><p class="font-weight-bold h4 text-center">Share with your partner and friends</p></div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="text-center"><i class="fas fa-share-square display-3 mb-4 myColor-GreenDarnerTail"></i></div>
      <div><p class="font-weight-bold h4 text-center">Check off items you've got</p></div>
    </div>
  </div>
</section>

{{!-- Section Explore --}}
<section class="container">
  <hr>
  <div class="row">
    <div class="col text-center">
      <h1 class="myColor-BrightYarrow">Explore</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-columns">
        <div class="card shadow">
          <img class="card-img-top" src="/images/explore/yoyo-532x320.jpg" alt="Lightweight city stroller">
          <div class="card-body">
            <h5 class="card-title"><a href="/explore/city-stroller" class="stretched-link text-decoration-none text-body">Lightweight city stroller and accessories</a></h5>
            <p class="card-text">Must-have for Amsterdammers and people living in small appartment without the lift.</p>
          </div>
        </div>
        <div class="card shadow">
          <img class="card-img-top" src="/images/explore/baby-feeding-2-532x160.jpg" alt="Baby feeding">
          <div class="card-body">
            <h5 class="card-title"><a href="/explore/baby-feeding" class="stretched-link text-decoration-none text-body">Baby feeding</a></h5>
            <p class="card-text">All you need for feeding your newborn.</p>
          </div>
        </div>
        <div class="card shadow">
          <img class="card-img-top" src="/images/explore/baby-room-532x360.jpg" alt="Baby room">
          <div class="card-body">
            <h5 class="card-title"><a href="/explore/baby-room" class="stretched-link text-decoration-none text-body">Baby room</a></h5>
            <p class="card-text">Top 10 baby nursery essentials</p>
          </div>
        </div>
        <div class="card shadow">
          <img class="card-img-top" src="/images/explore/baby-monitor-2.jpg" alt="Top 5 baby monitors">
          <div class="card-body">
            <h5 class="card-title"><a href="/explore/baby-monitors" class="stretched-link text-decoration-none text-body">Top 5 baby monitors in 2020</a></h5>
            <p class="card-text">Top 5 baby monitors by review score in 2020.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>