<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  {{!-- BOOTSTRAP --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {{!-- MY STYLESHEET (you should put your css in style.scss and this code will translate to style.css) --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />
  {{!-- FONTAWESOME --}}
  <script src="https://kit.fontawesome.com/29478703da.js" crossorigin="anonymous"></script>
  {{!-- FAVICON --}}
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  {{!-- GOOGLE FONTS --}}
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>

  {{!-- Navbar --}}
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand myLogo myColor-BrightYarrow" href="/">BabyShoppingList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Explore</a>
        </li>
          <li class="nav-item">
            {{#if user}}<a class="nav-link" href="/lists/newlist">Create list</a>{{/if}}
          </li>
          <li class="nav-item">
            {{#if user}}<a class="nav-link" href="/lists/mylists">My lists</a>{{/if}}
          </li>
      </ul>
      <span>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {{#unless user}}<a class="nav-link" href="/auth/signup">Sign Up</a>{{/unless}}
          </li>
          <li class="nav-item">
            {{#unless user}}<a class="nav-link" href="/auth/login">Login</a>{{/unless}}
          </li>
          <li class="nav-item">
            {{#if user}}<a class="nav-link" href="/auth/logout">Logout</a>{{/if}}
          </li>
        </ul>      
      </span>
    </div>
  </nav>

  {{{body}}}

  <!-- 5.FOOTER-->
  <section class="text-white mt-5 myFooter">
    <div class="container">
      <div class="row py-3">
        <div class="col">
          <p class="small my-3 text-center">© 2020 BabyShoppingList | <a class="text-white" href="">Terms and conditions</a> | <a class="text-white" href="">Privacy statement</a></p>
        </div>
      </div>
    </div>
  </section>

  {{!-- BOOTSTRAP --}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {{!-- MY SCRIPT --}}
  <script src="/javascripts/script.js"></script>
</body>
</html>