html {
  scroll-behavior: smooth;
}

body {
  // padding: 50px;
  font: 16px 'Roboto', 'Open Sans', Helvetica, Arial, sans-serif !important;
}

a {
  color: #00B7FF;
}

.myHeader {
  display: flex;
  height: 92vh;
  align-items: flex-end;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.myHeaderArticle  {
  display: flex;
  height: 70vh;
  align-items: flex-end;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 400px) {
  .myHeader {
    height: 80vh;
    background-attachment: initial;
  }
  .myHeaderTitle {
    font-size: 3.3rem;
  }
}

.myLogo {
  font-family: 'Gloria Hallelujah', cursive, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.myColor-BrightYarrow {
  color: #fdcb6e !important;
}

.myColor-ElectronBlue {
  color: #0984e3 !important;
}

.myColor-GreenDarnerTail {
  color: #74b9ff !important;
}

.myBgColor-GreenDarnerTail {
  background-color: #74b9ff !important;
}

.myColor-ShyMoment {
  color: #a29bfe !important;
}

.myNavLink {
  color: black !important;
}

.myNavLink:hover {
  color: #fdcb6e !important;
}

.myFooter {
  background-color: #b2bec3 !important;
}

.myWidth-300 {
  width: 300px;
}

.myWidth-75 {
  width: 75px;
}

.myWidth-150 {
  width: 150px !important;
}

.hr-text {
  position: relative;
}

.hr-text span {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  margin-left: -20px;
}


// EXPLORE

.myExploreHeader {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 400px) {
  .myHideOnMob {
    display: none;
  }
}

//ITEMS

.myItemImage {
  max-width: 100px !important;
}