{{!-- Explore header --}}
<div class="jumbotron jumbotron-fluid myExploreHeader" style="background-image: url(/images/explore/explore-1080x640.jpg);">
  <div class="container">
    <h1 class="display-4 text-white font-weight-bold">EXPLORE</h1>
    <p class="lead text-white font-weight-bold myColor-BrightYarrow">Explore our recomendations. <br> Copy entire list or items you like.</p>
  </div>
</div>

{{!-- Explore cards --}}
<section class="container py-3">
  {{> explore}}
</section>
